html {
    margin: 0.3rem;
    background-color: black;
}

header {
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    background-image: url(/img/Fondo1.jpg);
    background-position: top;
    justify-content: space-around;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-size: 3em;
    color: white;
    margin-block: 0%;
    height: 1em;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-style: italic;
    color: white;
    font-size: 0.8em;
    padding-left: 1em;
}

.divisorDeBotones {
    font-size: 0.6em;
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    color: aliceblue;
}

.botones {
    display: flex;
    list-style-type: none;

    height: 100%;
    padding-left: 0%;
    align-items: center;
}

.botones li {
    margin: 1em;
    width: 3.3em;
    height: 8em;
    text-align: center;
}

.botones li a {
    text-decoration: none;
    color: white;
}


.b-home {
    background-color: rgb(255, 140, 0, 0.500);
}

.b-clothes {
    background-color: rgb(180, 131, 149, 0.500);
}

.b-aboutUs {
    background-color: rgb(0, 115, 255, 0.500);
}

.b-contact {
    background-color: rgb(168, 228, 160, 0.500);
}

.imagen-sticky {
    position: absolute;
    height: 3rem;
    transform: translate(10-0%);
}

.lugar {
    display: flex;
    height: 30em;
    background-image: url(/img/Local.jpg);
    background-position: center;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: flex-end;
}

.phrase {
    height: 4rem;
    width: 100%;
    display: inline;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.802);
    padding: 0% 30% 0% 30%;
    font-size: 0.5rem;
    margin-bottom: 2rem;
}

.selector {
    display: flex;
    background-image: url(/img/Fondo1.jpg);
    background-position: bottom;
    justify-content: space-around;
}

.card {
    transition: all 0.3s ease;
    filter: saturate(0%);
}

.card-title {
    padding-bottom: 2rem;
    text-align: center;
}


.card:hover {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0px 0px 300px rgba(0, 0, 0, 0.8);
    filter: none;
}

footer {
    width: 100%;
}

.section-footer {
    position: relative;
    width: 100%;
}

.inside {
    display: flex;
    justify-content: center;
    transition: all 0.3s ease;
    filter: sepia(0.8);
    object-fit: cover;
}

.inside-foto {
    width: 100%;
}


.inside:hover {
    filter: none;
}

.inside-text {
    user-select: none;
    width: 100%;
    font-size: 3rem;
    font-style: oblique;
    font-family: "Bebas Neue", sans-serif;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transition: all 0.6s ease;
    transform: translate(-50%, -50%);
}

.inside-text a {
    text-decoration: none;
    color: white;
}

.inside-text:hover {
    transition: all 0.2s ease;
    font-size: 5rem;
    justify-content: space-around;
    background-color: black;
}

@media (max-width: 460px) {
    .card-text {
        display: none;
    }

    .card-title {
        font-size: small;
    }
}